@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden; /* Hide scrollbars */
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

